$primary_color_one: #1a1a2e;
$primary_color_two: #16213e;
$primary_color_three: #0f3460;
$primary_color_four: #e94560;
$secondary_color_four: #eb546d;
$primary_font_color: black;
$secondary_font_color: white;

* {
  color: $primary_font_color;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background-color: beige;
}

ul {
  list-style-type: none;
}
body {
  font-family: Verdana, sans-serif;
}

/* Month header */
.month {
  padding: 70px 0px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important;
}

/* Workout List */
ul.workouts-list {
  .workout {
    background-color: $primary_color_two;
    padding: 10px;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba($primary_color_two, 0.5);
    border-radius: 10px;

    * {
      color: $secondary_font_color;
    }

    .exercise {
      padding: 5px;
      margin: 15px;
      background-color: $primary_color_four;
      box-shadow: 2px 2px 5px 1px rgba($primary_color_four, 0.5);
      border-radius: 10px;
      transition: background 0.3s, box-shadow 0.3s;

      &:hover {
        background: $secondary_color_four;
        box-shadow: 5px 5px 5px 1px rgba($primary_color_four, 0.5);
      }
    }
  }
}

/* New Workout */
.new-workout-button {
  width: 100px;
  button {
    border: 0;
    border-radius: 0.25rem;
    background: $primary_color_four;
    color: white;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.2;
    white-space: nowrap;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
  }

  button:focus {
    box-shadow: 5px 5px 5px 1px rgba($primary_color_four, 0.5);
  }
}

/* exercise card */
.exercise-card {
  padding: 10px;
  margin: 10px;
  background-color: rgb(175, 89, 255);
  border-radius: 5px;
}

.exercise-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.exercise-card .exercise-name {
  display: inline-block;
  width: 20%;
}

.exercise-card .exercise-add {
  display: inline-block;
}

/* modals */
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.exercise-card-workouts .child {
  display: inline-block;
}

/* Navbar */
nav {
  background: $primary_color_three;
  display: flex;

  .logo {
    background: $primary_color_four;
    margin-right: 50px;
    padding: 10px;
    span {
      color: $secondary_font_color;
    }
  }

  ul {
    display: flex;
    li {
      padding: 10px;
      transition: background 0.3s;

      &:hover,
      &:focus {
        background-color: $primary_color_two;
      }

      a {
        color: $secondary_font_color;
        text-decoration: none;
      }
    }
  }
}
